.App {
  text-align: center;
}

.Main_div{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (min-width: 651px) and (max-width: 1024px) {
  .Main_div{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (min-width: 320px) and (max-width: 650px) {
  .Main_div{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 120px) and (max-width: 319px) {
  .Main_div{
      grid-template-columns: repeat(1, 1fr);
  }
}